.gauge-parent {
	position: relative;
	text-align: center;
}

.gauge-gauge {
	position: absolute;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;
}

.gauge-number-display-value {
	width: 80%;
	text-align: center;
	height: 30%;
	position: absolute;
	top: 35% !important;
	left: 15%;
	z-index: 1;
	background-color: inherit;
	border: none !important;
}

.gauge-number-display-label {
	position: absolute;

	left: 10%;
	bottom: 35%;
	width: 80%;
	text-align: center;
	font-size: 100%;
	line-height: 70%;
}
