.wrapper {
    position: absolute;
    width: 1%;
    left: 49.5%;
    top: 50%;

    z-index: 0;
}


.needleTest {
    position: relative;

    width: 100%;
    height: 100%;

    transform-origin: top;
    transition: transform 0.2s ease-in-out;
}

.needle {
    background-color: #61dafb;
    width: 100%;
    height: 100%;
    top: 0%;
    position: relative;
}

@keyframes needle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}