.wind {
    background-color: inherit;
}

.wind-speed-display-wrapper {
    width: 50%;
    height: 25%;
    position: absolute;
    top: 37.5% !important;
    left: 25%;
    background-color: inherit;
    z-index: 1;
}

.wind-speed-display {
    /*background-color: inherit;*/
}