* {
  box-sizing: border-box;
}

canvas.probe {
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
}

.flexbox-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;

  justify-content: stretch;
  padding-top: 10px;
  padding-left: 10px;

  background-color: inherit;
}
