.flexbox-container {
  padding: 0 10px 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  width: 100%;
  background-color: inherit;

  height: auto;
  transition: height 1s linear;
}

@media screen and (min-width: 300px) {
  .flexbox-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 600px) {
    .flexbox-container {
      grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 900px) {
  .flexbox-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .flexbox-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: 1500px) {
  .flexbox-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 1800px) {
  .flexbox-container {
    grid-template-columns: repeat(7, 1fr);
  }
}


/*@media screen and (min-width: 1200px) {*/
/*  .flexbox-container {*/
/*    grid-template-columns: repeat(5, 1fr);*/
/*  }*/
/*}*/

/*@media screen and (min-width: 1400px) {*/
/*  .flexbox-container {*/
/*    grid-template-columns: repeat(6, 1fr);*/
/*  }*/
/*}*/


