.wrapper {
    position: absolute;
    width: 3%;
    left: 48.5%;
    top: 50%;
}


.needleTest {
    position: relative;

    width: 100%;
    height: 100%;

    transform-origin: top;
    transition: transform 0.2s ease-in-out;
}

.needle {
    background-color: #61dafb;
    width: 100%;
    height: 10%;
    top: 90%;
    position: relative;
}

@keyframes needle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}