.displayContainer {
    text-align: right;
    height: 100%;
    position: relative;
    float: left;
    display: inline;
    padding: 3%;
}

.label {
    font-size: 50%;
    margin: 3%;

    position: absolute;
    display: inline;
    top: 0;
    right: 0;
}

.value {
    position: absolute;
}

h1, h2, h3 {
    font-size: 200%;
    font-weight: bold;
    display: inline;
}

i {
    font-size: 75%;
}