.layer {
    position: absolute;
    top: 0px;
    left: 0px;
}

.layerCentered {
    width: 50%;
    height: 30%;
    position: absolute;
    top: 35% !important;
    left: 25%;
    border: solid black 1px;
}
