@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

html, body, input {
  width: 100%;
  height: 100%;
  font-family: "Space Mono", monospace !important;
  /*font-family: "Comic Sans MS", sans-serif;*/

  /*font-family: "Courier New", monospace;*/
  /*font-family: "Inconsolata", monospace !important;*/

}

.open-menu {
  margin-left: 10px !important;
  margin-right: 10px !important;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  /*height: 10px;*/
  /*width: 100%;*/
  position: relative;
}

.open-menu-wrapper {
  border: none;
  background: none;
  text-transform: capitalize;
  color: #5c616c;
  font-family: inherit !important;
}

.open-menu-wrapper:active {
  background: none !important;
}


.instruments {
  width: 100vw;
  height: 100vh;
  position: relative;
  text-align: left;
  overflow-x: hidden;

  transform: translateZ(0); /* Prevent repaint on scroll */

  background-color: black;
}
