.form-title {
    font-size: 5em;
    font-weight: bold;
    margin: 10px 0;
}

.form-field-title {
    width: 100%;
    clear: both;
    font-size: 1.75em;
    /*font-weight: bold;*/
    color: inherit !important;
}

.form-subsection {
    width: 100%;
    clear: both;
    font-size: 3em;
    margin-bottom: 10px;
}

.form-subsection-field {
    margin: 15px 0 0;
}

.form-subsection-field:last-child {
    margin-bottom: 0;
}

.form-field-text {
    border: none !important;
    border-bottom: 1px solid !important;
    width: 100%;
    background: inherit !important;
    color: inherit !important;
    /*font-family: "Space Mono", monospace;*/
}

.form-field-switch {
    margin-right: 10px;
    flex: 1;
    color: red;
    /*height: 50%;*/
    /*align-self: ;*/
}


.form-field-container {
    padding: 10px;
    margin-bottom: 12px;
}

.form-field-container:nth-last-child(2) {
    /*border: 10px solid blue;*/
    margin-bottom: 24px;
}

.form-template-parent {
    height: 100%;
    max-height: 100%;
}

.form-template-buttons {
    /*float: bottom;*/
    bottom: 0;
    margin-bottom: 3%;
    display: inline;
}
.form-confirm {
    width: auto;
    margin-right: 7.5px;
    padding: 0 15px;


    border: none !important;
    background: none;
    color: inherit;
}

.form-cancel {
    width: auto;
    /*margin: 5px;*/
    padding: 0 15px;


    border: none !important;
    background-color: inherit;
    color: inherit;
}

.form-confirm:active {
    background: inherit !important;
}
